@page "/account/menu"
@inject NavigationManager NavigationManager
@inject Blazored.SessionStorage.ISessionStorageService sessionStorage
@inject IUserData _db

<style>
    body {
        background: linear-gradient( rgba(255, 255, 255, 0.4), rgba(255, 255, 255, 0.4) ), url("images/image1.png") no-repeat center center fixed;
        background-size: cover;
    }
</style>

<PageTitle>Account Menu</PageTitle>

<div>
    @if (userlogged != null)
    {
        <label>@userlogged.Email</label>
    }
    else
    {
        <p> Loading... </p>
    }
</div>

@code {
    string usernamelogged;
    User userlogged;
    protected override async Task OnAfterRenderAsync(bool firstRender)
    {
        if (firstRender)
        {
            usernamelogged = await sessionStorage.GetItemAsync<string>("UsernameLogged");
            if(usernamelogged==null)
            {
                //Redirect to login page
                NavigationManager.NavigateTo("/login");
            }
            else
            {
                //Get User in Database
                userlogged = (await _db.GetUser(usernamelogged)).First();
            }

            StateHasChanged();
        }
    }
}
