@page "/account/menu"
@inject NavigationManager NavigationManager
@inject Blazored.SessionStorage.ISessionStorageService sessionStorage
@inject IJSRuntime JsRuntime
@inject IUserData _db
@inject IPlaylistData _dbp

<style>
    body {
        background: linear-gradient( rgba(255, 255, 255, 0.4), rgba(255, 255, 255, 0.4) ), url("images/image1.png") no-repeat center center fixed;
        background-size: cover;
    }
</style>

<PageTitle>Account Menu</PageTitle>

<div>
    @if (userlogged != null)
    {
        <div class="container">
            <div class="row">
                <div class="col-md-6 justify-content-center text-center">
                    <p class="text-center h1 fw-bold mb-5 mx-1 mx-md-4 mt-4">Your playlists</p>
                    <ul class="list-group">
                        @if (userplaylists.Count > 0)
                        {
                            @for (int i = 0; i < userplaylists.Count; i++)
                            {
                                var j = i;
                                <li class="list-group-item-primary d-flex justify-content-between align-items-center ps-5 pe-5">
                                @userplaylists[j].Title.Trim()
                                <div>
                                    <span class="badge bg-primary">@userplaylists[j].DateCreation.Trim().Substring(6)/@userplaylists[j].DateCreation.Trim().Substring(4,2)/@userplaylists[j].DateCreation.Trim().Substring(0,4)</span>
                                    <button class="btn btn-secondary btn-sm" aria-label="Edit" @onclick="() => EditPlaylist(userplaylists[j])">
                                        <span class="oi oi-pencil" aria-hidden="true"></span>
                                    </button>
                                    <button class="btn btn-danger btn-sm" aria-label="Delete" @onclick="() => RemovePlaylist(userplaylists[j])">
                                        <span class="oi oi-trash" aria-hidden="true"></span>
                                    </button>
                                </div>
                                </li>
                            }
                        }
                        else
                        {
                            <p>No playlists created. Create one now!</p>
                        }
                    </ul>
                    <button type="button" class="btn btn-success mt-3" aria-label="Create" @onclick="() => CreatePlaylist(userlogged)">
                        <span class="oi oi-plus" aria-hidden="true"></span>
                        Create Playlist
                    </button>
                </div>
                <div class="col-md-6 justify-content-center text-center">
                    <p class="text-center h1 fw-bold mb-5 mx-1 mx-md-4 mt-4">Search playlists</p>
                    <form action="/account/search" method="get" data-toggle="validator" data-focus="false" role="form">
                        <div class="input-group ps-0 justify-content-center form-group has-error has-danger">
                            <div id="navbar-search-autocomplete" style="width: 70%" class="form-outline">
                            <input type="search" id="form1" name="search" class="form-control" required data-error="Please enter a search term"/>
                            </div>
                            <button type="submit" class="btn btn-primary">
                            <i class="fas fa-search"></i>
                            </button>
                            <div class="help-block with-errors">
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    }
    else
    {
        <p> Loading... </p>
    }
</div>

@code {
    private List<Playlist>? userplaylists;
    int usernameIdlogged = 0;
    User? userlogged;
    Playlist? playlist;
    protected override async Task OnAfterRenderAsync(bool firstRender)
    {
        if (firstRender)
        {
            usernameIdlogged = await sessionStorage.GetItemAsync<int>("UsernameLogged");
            if(usernameIdlogged==0)
            {
                //Redirect to login page
                NavigationManager.NavigateTo("/login");
            }
            else
            {
                //Get User in Database
                if(userlogged.Plan != PlanPayment.FREE && DateTime.Compare(DateTime.ParseExact(userlogged.DateExpirationPlan,"yyyyMMdd",System.Globalization.CultureInfo.InvariantCulture), new DateTime(DateTime.Now.Year, DateTime.Now.Month, DateTime.Now.Day)) <= 0)
                {
                    await _db.PlanFinished(usernameIdlogged);
                }
                userlogged = (await _db.GetUser(usernameIdlogged)).First();
                //Get User's Playlists
                userplaylists = await _dbp.GetClientPlaylists(userlogged);

                await sessionStorage.RemoveItemAsync("PlaylistChosen");
            }

            StateHasChanged();
        }
    }

    private async void EditPlaylist(Playlist playlistedit)
    {
        //Add playlist in session storage
        await sessionStorage.SetItemAsync("PlaylistChosen", playlistedit.Id);
        //Redirect to edit playlist page
        NavigationManager.NavigateTo("/account/playlist/edit");
    }

    private async void RemovePlaylist(Playlist playlistremoved)
    {
        bool confirmlogout = await JsRuntime.InvokeAsync<bool>("confirm", $"Are you sure you want to delete playlist {playlistremoved.Title.Trim()}?");
        if(confirmlogout == true)
        {
            //Remove playlist 
            await _dbp.DeletePlaylist(playlistremoved);
            userplaylists.Remove(playlistremoved);

            NavigationManager.NavigateTo("/account/menu", true);
        }
    }

    private async void CreatePlaylist(User userlogged)
    {
        //Redirect to edit playlist page
        if (userplaylists.Count() >= userlogged.MaxPlaylists()) return;
        NavigationManager.NavigateTo("/account/playlist/edit");
    }
}
